@import "./../../styles/mixins.scss";

.picturesContainer {
  @include flex-column-center;
  justify-content: center;
  background-color: black;
  background-size: 80px;
  background-repeat: repeat;
  padding-top: 2em;
}
