@mixin flex-column-center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin social-media-styles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
  padding: 0 1em 0 1em;
}

// FONTS

@mixin font-title {
  color: black;
  text-decoration: underline black;
  font-size: 2em;
  font-weight: bold;
}

@mixin font-subtitle {
  color: black;
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
}

@mixin font-text {
  color: black;
  font-size: 1.5em;
  font-weight: 0;
  text-decoration: none;
  text-align: center;
}
