@import "./../../styles/mixins.scss";

.InfoTemplateContainer {
  @include flex-column-center;
  min-height: auto;

  &__block {
    width: 90%;
    &__title {
      @include font-title;
      margin: 2em 0 1em 0;
      text-align: center;
    }
    &__text {
      @include font-text;
      margin-bottom: 2em;
      min-height: 90%;
    }
    &__gap {
      gap: 1;
    }
    @media (min-width: 960px) {
      width: 65%;
    }
  }
}
