@import "./../../styles/mixins.scss";

.welcomeContainer {
  @include flex-column-center;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);

  &__header {
    margin: 1.5em;
  }

  &__block__text {
    margin: 1em;
    text-align: center;
  }

  &__block__answers {
    display: flex;
    justify-content: space-around;
    margin: 1.5em 5em 0 5em;

    &--yes,
    &--or,
    &--no {
      @include font-subtitle;
      cursor: pointer;
    }
  }

  &__socialMedia {
    @include social-media-styles;
  }
}
